Options +FollowSymlinks
RewriteEngine On

# si la requete est /admin
RewriteRule ^admin$ index.php?controller=AdminConnectionController

# (ex: css/style.css, js/script.js, pdf/stat.pdf)
# si la requete n'est pas un fichier ou un dossier dans views
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# redirection vers l'index
RewriteRule (.*) index.php
