RewriteEngine On

# si la requete n'est pas un fichier ou un dossier dans views
# (ex: css/style.css, js/script.js, pdf/stat.pdf)
RewriteCond /views/%{REQUEST_FILENAME} !-f
RewriteCond /views/%{REQUEST_FILENAME} !-d

# si la requete est /admin
RewriteRule admin index.php?controller=AdminConnexionController

# redirection vers l'index
RewriteRule (.*) index.php [L]
